<div class="container">
  <h1>Travel</h1>
  <hr/>
  <div   *ngIf="isLoading" class="text-center">
    <div class="spinner-border text-primary" role="status">
    </div>
  </div>
<div class="video-responsive">
    <iframe (load)="isLoading=false" [class.d-none]="isLoading" src="https://www.youtube.com/embed/saAStqW4bdc" title="YouTube video player" onload="" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="video-responsive">
    <iframe [class.d-none]="isLoading" src="https://www.youtube.com/embed/rdWeFKTZbIQ" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

</div>
