 <div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <div class="chart">
        <canvas baseChart
                [data]="pieChartDataLanguages"
                [type]="pieChartType"
                [options]="pieChartOptions">
        </canvas>
      </div>
    </div>

    <div class="col-sm">
      <div class="chart">
        <canvas baseChart
                [data]="pieChartDataTools"
                [type]="pieChartType"
                [options]="pieChartOptions">
        </canvas>
      </div>
    </div>
    <div class="col-sm">
      <div class="chart">
        <canvas baseChart
                [data]="pieChartDataFrameworks"
                [type]="pieChartType"
                [options]="pieChartOptions">
        </canvas>
      </div>
    </div>
  </div>
 </div>


