h1{
  font-size: 3rem;
  font-family: 'Montserrat',sans-serif;
}

h2{
  font-size: 1.5rem;
  font-family: 'Montserrat',sans-serif;
  text-align: center;
}

.icon{
 float: left;
  max-width: 52px;
  max-height: 52px;
}

.center{
  padding-top: 2rem;
}
