 <div class="container-fluid">
  <div class="row justify-content-evenly">
    <div class="col-sm-3">
      <h1> {{"CV.TITLE_LANGUAGE" | translate }} </h1>
      <div class="chart">
        <canvas baseChart
                [data]="pieChartDataLanguages"
                [type]="pieChartType"
                [options]="pieChartOptions">
        </canvas>
      </div>
    </div>


    <div class="col-sm-3">
      <h1> {{"CV.TITLE_TOOL" | translate }} </h1>
      <div class="chart">
        <canvas baseChart
                [data]="pieChartDataTools"
                [type]="pieChartType"
                [options]="pieChartOptions">
        </canvas>
      </div>
    </div>

    <div class="col-sm-3">
      <h1> {{"CV.TITLE_FRAMEWORK" | translate }} </h1>
      <div class="chart">
        <canvas baseChart
                [data]="pieChartDataFrameworks"
                [type]="pieChartType"
                [options]="pieChartOptions">
        </canvas>
      </div>
    </div>
  </div>
 </div>


