h1{
  padding-top: 1rem;
  font-size: 3rem;
  font-family: 'Montserrat',sans-serif;
}

h2{
  font-size: 1.5rem;
  font-family: 'Montserrat',sans-serif;
  text-align: center;
}

.icon{
 float: left;
}

.center{
  margin: auto;
}
