<div class="floating-button">
  <a class="btn btn-cv" role="button" target="_blank"
     (click)="downloadPdf()">
    <span class="fa fa-download hide text-white"  ></span></a>
</div>


<!--- Education -->
<div class="center shadow-lg p-3 mb-5 rounded">
  <div class="title-container">
    <img class="icon education" src="assets/cv/education.png" alt="skills">
    <h1 class="education"> {{"CV.EDUCATION.TITLE" | translate }}</h1>
  </div>
</div>
<section class="timeline_area section_padding_130">
  <div class="container">
    <div class="row">
      <!-- Timeline Area-->
        <div *ngFor="let eduItem of education">
          <app-diploma
            [diploma]="eduItem">
          </app-diploma>
        </div>
    </div>
  </div>
</section>

<div class="container-fluid">
  <div class="row justify-content-evenly">
    <div class="center shadow-lg p-3 mb-5 rounded">
      <div class="title-container">
        <img class="icon skills" src="assets/cv/skills.png" alt="skills">
        <h1 class="skills"> {{"CV.SKILLS.TITLE" | translate }}</h1>
      </div>
    </div>
    <div class="col-md-3" style="overflow-x: hidden">
      <h2> {{"CV.SKILLS.TITLE_LANGUAGE" | translate }} </h2>
      <div class="chart" data-aos="zoom-out-down">
        <canvas baseChart
                [data]="pieChartDataLanguages"
                [type]="pieChartType"
                [options]="pieChartOptions">
        </canvas>
      </div>
    </div>


    <div class="col-md-3" style="overflow-x: hidden">
      <h2> {{"CV.SKILLS.TITLE_TOOL" | translate }} </h2>
      <div class="chart" data-aos="zoom-out-down">
        <canvas baseChart
                [data]="pieChartDataTools"
                [type]="pieChartType"
                [options]="pieChartOptions">
        </canvas>
      </div>
    </div>

    <div class="col-md-3" style="overflow-x: hidden">
      <h2> {{"CV.SKILLS.TITLE_FRAMEWORK" | translate }} </h2>
      <div class="chart" data-aos="zoom-out-down">
        <canvas baseChart
                [data]="pieChartDataFrameworks"
                [type]="pieChartType"
                [options]="pieChartOptions">
        </canvas>
      </div>
    </div>
  </div>


  <div class="center shadow-lg p-3 mb-5 bg-white rounded">
    <div class="title-container">
       <img class="icon work" src="assets/cv/work.png" alt="skills">
       <h1 class="work"> {{"CV.WORK.TITLE" | translate }}</h1>
     </div>
  </div>
   <section class="timeline_area section_padding_130">
     <div class="container">
       <div class="row">
         <!-- Timeline Area-->
           <div *ngFor="let expItem of experience">
             <app-work
               [work]="expItem">
             </app-work>
           </div>
       </div>
     </div>
   </section>




  <div class="center shadow-lg p-3 mb-5 bg-white rounded">
    <div class="title-container">
       <img class="icon hobbies" src="assets/cv/hobbies.png" alt="skills">
       <h1 class="hobbies"> {{"CV.HOBBIES.TITLE" | translate }}</h1>
     </div>
  </div>
   <section class="wrapper">
     <div class="container">
         <div  class="row">
           <app-cv-hobbies *ngFor="let hobie of hobbies" class="col-12 col-sm-6 col-lg-3  mb-4 " data-aos="zoom-in-up"
             [hobie]="hobie">
           </app-cv-hobbies>
       </div>
     </div>
   </section>
 </div>


