<div class="gradient">
  <div class="custom-container">


      <div *ngIf="!mobileView" class="row">
        <div class="col animate__animated animate__flip">
          <img id="banner" class="banner" src="assets/home/banner.png" alt="">
        </div>
        <div class="col text animate__animated  animate__fadeInRightBig">
          <h1  [innerHTML]="'HEADER.TITLE' | translate"> </h1>
        </div>
      </div>

      <div *ngIf="mobileView" class="row">
          <div class="col text animate__animated animate__fadeInDownBig">
              <h1  [innerHTML]="'HEADER.TITLE' | translate" ></h1>
          </div>
          <div class="col  animate__animated animate__flip">
            <img id="banner" class="img-fluid" src="assets/home/banner.png" alt="">
          </div>
      </div>

  </div>
</div>
