<div class="gradient">
  <div class="custom-container">


      <div *ngIf="!mobileView" class="row">
        <div class="col animate__animated animate__flip">
          <img id="banner" class="img-fluid" src="../../assets/banner.png" alt="">
        </div>
        <div class="col text animate__animated  animate__fadeInRightBig">
          <h1  [innerHTML]="'HEADER.TITLE' | translate"> </h1>
        </div>
      </div>

      <div *ngIf="mobileView" class="row">
          <div class="col text animate__animated animate__fadeInDownBig">
              <h1>I'm a young <b>Web Engineer</b>. Passionate about coding, I created this <b>Portfolio</b> to introduce myself.</h1>
          </div>
          <div class="col  animate__animated animate__flip">
            <img id="banner" class="img-fluid" src="../../assets/banner.png" alt="">
          </div>
      </div>

  </div>
</div>
