
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital@1&display=swap');

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
}
#banner{
  max-width: 70%;
  max-height: 70%;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
}
.text{
  display:flex;
  flex-direction: column;
  justify-content:center;
  max-width: 85%;
  height: 100%;
  margin: 0 0 0 auto;
  padding: 10px;
  position: relative;
}

.name {
  color: #b516ad;
  font-size: 2.5rem;
}

.job {
  font-size: 4rem;
  font-weight: 700;
}

.short_desc {
  font-size: 1.5rem;
}

.button-header {
    display: flex;
    flex-direction: row;
   .button-cv {
     height: 32px;
     width: 40px;
   }
  &:nth-child(2){
    padding-left: 50px;
  }
  &:hover{
    cursor: pointer;
  }
  h1{
    font-size: 1.4rem;
    color: #b516ad;
    margin: 0;
  }
}

.buttons-header{
  display: flex;
  flex-direction: row;
}

.row{
  height: 100%;
}

.col{
  overflow:auto;
}

.custom-container-header{
  width: 90%;
  height: calc(100vh - 172px);
  margin-right: auto;
  margin-left: auto;
}


img {
    width:100%;
    height:auto;
}

@media only screen and (max-width: 768px) {
  .row{
    display: block;
  }
  #banner {
    position: relative;
  }

}

@media only screen and (max-width: 425px) {
  h1{
    font-size: 1.5rem;
  }
  .name {
    font-size: 2rem;
  }

  .job {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 40px;
  }

  .short_desc {
    font-size: 1rem;
  }
  .custom-container {
    width: 200px;
    height: 400px;
    position: relative;
  }
  .custom-container-header {
    height: calc(100vh - 212px);
  }
  .row {
    height: 50%;
    margin-top: 50px;
  }
  .col {
    overflow: hidden;
  }
  #banner{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 90%;
    max-height: 100%;
  }
}
