
.navbar{
    background: #355C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar-toggler-icon{
  border-color: white;
}

.contact{
  background: white !important;
  height: 100%;
}

nav .navbar-nav li a{
  color: white;
}


.btn-linkedin{
  margin-left: 1rem;
  background: white;
  color: #0e76a8;
}

.btn-linkedin:hover{
  color: white;
  background-color: #0e76a8
}

.btn-github{
  margin-left: 1rem;
  background: white;
  color: #1f335b;
  outline: none !important;
}

.btn-github:hover{
  color: white;
  background-color: #1f335b;
}

@supports not (backdrop-filter: blur(2px)) {

  a.dropdown-item {
    color: #ad6882 !important;
    background: transparent;
    border-radius: 10px;
  }

  ul.dropdown-menu.show {
    backdrop-filter: blur(0);
    background: #FFFFFFD0;
    border-radius: 8px;
    padding: 4px;
  }
}

@supports (backdrop-filter: blur(2px)) {
  ul.dropdown-menu.show {
    backdrop-filter: blur(6px);
    background: transparent;
    border-color: white;
    border-radius: 8px;
    padding: 4px;
  }

  ul.dropdown-menu.show.inverse{
    backdrop-filter: blur(0);
    background: white;
    border-color: #ad6882;
    border-radius: 8px;
  }
}

a.dropdown-item{
  border-radius: 10px;
  background: transparent;
  &.underlined{
    &:hover {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    color: #ad6882;
    background: white;
  }
  &:hover{
    color: #ad6882 !important;
    background: white;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
  }
}



nav .navbar-nav li a {
  border-radius: 10px;
  &.underlined{
    &:hover {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    color: #ad6882;
    background: white;
  }
  &:hover{
    box-shadow: 0 2px 1px -1px white;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.inverse a {
  color: #ad6882 !important;
  background: transparent;
  border-radius: 10px;

  &:hover{
    color: white !important;
    background: #355C7D !important;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D) !important;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}

.divider{
  background: white;
}

img{
  width: 30px;
  height: 30px;
}


@media only screen and (max-width: 768px) {
  nav .navbar-nav li a {
    text-align: center;
  }
}
