<div class="single-timeline-area">
  <div class="timeline-date" >
    <p data-aos="zoom-in">{{"CV.WORK.YEAR" | translate: {value1: work.year, value2: work.year_en} }}</p>
  </div>
  <div class="row">
    <div class="col-12 col-md-6" style="overflow-x: hidden">
      <div class="row single-timeline-content" data-aos="fade-right">
        <div class="col-12 col-lg-6">
          <div class="timeline-icon">
            <img class="img-fluid" src="{{work.company_logo}}" alt="{{work.company}}">
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="timeline-text">
            <h6>{{"CV.WORK.OCCUPATION" | translate: {value1: work.occupation, value2: work.occupation_en} }}</h6>
            <p>{{work.company}}</p>
            <p>{{work.city}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6" style="overflow-x: hidden">
      @if (translate.currentLang==='fr') {
        <div class="single-timeline-content" data-aos="fade-left">
          @for (desc of work.description; track desc) {
            <ul class="timeline-text-desc">
              <li>{{desc}}</li>
            </ul>
          }
        </div>
      }
      @if (translate.currentLang==='en') {
        <div class="single-timeline-content" data-aos="fade-left">
          @for (desc of work.description_en; track desc) {
            <ul class="timeline-text-desc">
              <li>{{desc}}</li>
            </ul>
          }
        </div>
      }
    </div>
  </div>
</div>
