<div class="container">
  <h2> My projects</h2>
  <hr/>
  <div class="card shadow-sm p-3 mb-5 bg-body rounded" routerLink="project/{{projects[0].id}}">
    <div class="card-body">
        <div class="row">
          <div class="col">
            <img src="{{projects[0].profilPicture}}" alt="{{projects[0].name}}">
          </div>
          <div class="col desc">
            <div class="title">
              {{projects[0].name}}
            </div>
              {{projects[0].description}}
          </div>
        </div>
    </div>
  </div>


    <div class="card shadow-sm p-3 mb-5 bg-body rounded" routerLink="project/{{projects[1].id}}">
      <div class="card-body">
        <div class="row">
        <div class="col desc">
          <div class="title">
            {{projects[1].name}}
          </div>
          {{projects[1].description}}
        </div>
        <div class="col img2">
          <img src="{{projects[1].profilPicture}}" alt="{{projects[1].name}}">
        </div>
      </div>
    </div>
  </div>

  <div class="card shadow-sm p-3 mb-5 bg-body rounded" routerLink="project/{{projects[2].id}}">
    <div class="card-body">
      <div class="row">
        <div class="col img3">
          <img src="{{projects[2].profilPicture}}" alt="{{projects[2].name}}">
        </div>
        <div class="col desc">
          <div class="title">
            {{projects[2].name}}
          </div>
          {{projects[2].description}}
        </div>
      </div>
    </div>
  </div>

  <div class="card shadow-sm p-3 mb-5 bg-body rounded" routerLink="project/{{projects[3].id}}">
    <div class="card-body">
  <div class="row">
    <div class="col desc">
      <div class="title">
        {{projects[3].name}}
      </div>
      {{projects[3].description}}
    </div>
    <div class="col img2">
      <img src="{{projects[3].profilPicture}}" alt="{{projects[3].name}}">
    </div>
  </div>
</div>
  </div>

  <div class="card shadow-sm p-3 mb-5 bg-body rounded" routerLink="project/{{projects[4].id}}">
    <div class="card-body">
      <div class="row">
        <div class="col img3">
          <img src="{{projects[4].profilPicture}}" alt="{{projects[4].name}}">
        </div>
        <div class="col desc">
          <div class="title">
            {{projects[4].name}}
          </div>
          {{projects[4].description}}
        </div>
      </div>
    </div>
  </div>


</div>
