<div class="container">
    <div *ngIf="!mobileView" class="float-end" id="buttons">
        <a *ngIf="project.site" class="btn btn-blue float-right" href="{{project.site}}" target="_blank" role="button">
            <span class="fa fa-globe hide"></span> <span> View site</span>
        </a>
        <a *ngIf="project.code" class="btn btn-blue" href="{{project.code}}" target="_blank" role="button">
            <span class="fa fa-code hide"></span> <span> View code</span>
        </a>
    </div>

  <h2>{{project.name}}</h2>

  <span id="subtitle">«{{project.short_description}}»</span>
  <div *ngIf="mobileView"  id="buttons">
      <a *ngIf="project.site" class="btn btn-blue float-right" href="{{project.site}}" target="_blank" role="button">
          <span class="fa fa-globe hide"></span> <span> View site</span>
      </a>
      <a *ngIf="project.code" class="btn btn-blue" href="{{project.code}}" target="_blank" role="button">
          <span class="fa fa-code hide"></span> <span> View code</span>
      </a>
  </div>
  <div class="row infos">
      <div class="col img-desc">
          <img src="{{project.profilPicture}}" alt="{{project.name}}">
        </div>
    <div class="col general-desc">
      {{project.description}}

    </div>

  </div>

  <hr/>
  <h2>Détails du projet</h2>
  <hr/>

    <div class="row full-desc py-2" *ngFor="let picdesc of project.pictures">
        <div *ngIf="getBool()" class="col desc">
          {{picdesc.desc}}
        </div>
        <div *ngIf="getBool()" class="col img-right">
          <img src="{{picdesc.src}}" alt="{{project.name}}">
        </div>
        <div *ngIf="invertBool()" class="col img-left">
          <img src="{{picdesc.src}}" alt="{{project.name}}">
        </div>
        <div *ngIf="getBool2()" class="col desc">
            {{picdesc.desc}}
        </div>

</div>

<hr/>
<h2>Technologies & Outils</h2>
<hr/>
<div class="techno">
<a *ngFor="let techno of project.techno" href="{{techno.url}}" target="blank">
  <img  src="{{techno.photo}}" alt="" >
</a>
</div>
</div>
