h2{
  font-family: 'Montserrat', sans-serif;
  font-size: xxx-large;
  text-align: center;
  color: #355c7d;
  padding-top: 2rem;
}

#subtitle{
  color: lightgrey;
  display: flex;
  justify-content: center;
}

#buttons{
  margin-bottom: 2rem;
}


.btn-blue {
  color: white;
  background-color: #355c7d;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 3rem;
}
.btn-blue:hover, .btn-blue:focus, .btn-blue:active, .btn-blue.active, .open>.dropdown-toggle.btn-blue {
  color: #355c7d;
  background-color: white;
  border-color: #355c7d;
}

span .fa{
  outline: none;
}


.general-desc{
  font-size: large;
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infos{
  margin-bottom: 3rem;
  margin-top: 4rem;
}

.desc {
    text-align: justify;
    display: flex;
    align-items: center;
    font-size: xx-large;
    font-family: 'Montserrat', sans-serif;
    color: gray;
}



.img-right img{
  float:right;
  justify-content:center;
  max-width: 700px;
 }

.img-desc{
  display: flex;
  align-items: center;
  & img{
    width: 400px;
  }
  justify-content:center;

}

.full-desc{
  padding-top: 5rem;
}

.img-left img{
  display: flex;
  align-items: center;
  max-width: 700px;
}

.text-right{
  text-align: right;
}

.img2 img{
  padding-top: 3rem;
}

h4{
  font-family: 'Montserrat', sans-serif;
  font-size: xxx-large;
  padding-top: 10rem;
  text-align: center;
}

hr{
  margin: 5rem;
}

.techno{
  text-align:center;
  margin:auto;
  display: block;
  align-items: center;
  justify-content: center;
  width: 100%;
  & img{
    transition: transform .2s;
    margin: 50px;
    width: 100px;
    height: 100px;
  }
}

.techno img:hover{
  transform: scale(1.5);
  cursor: pointer;
}

body {
  margin: 0;            /* Reset default margin */
}

iframe {
  display: block;       /* iframes are inline by default */
  background: #000;
  border: none;         /* Reset default border */
  height: 84vh;        /* Viewport-relative units */
  overflow: scroll;
}

.spinner-border{
  width: 10rem;
  height: 10rem;
}



@media only screen and (max-width: 768px) {

  #buttons{
    justify-content: center;
    display: flex;
  }


  .btn-blue {
    margin-top: 3rem;
  }

  span{
    text-align: center;
  }

  .row{
    display: block;
  }

  .infos{
    display: block;
  }

  .img-right img, .img-left img {
    text-align:center;
    margin:auto;
    display:flex;
    max-width: 100%;
    padding-top: 5rem;
  }


  .img-desc{
    margin-bottom: 3rem;
    padding-top: 0;
  }

  .img-desc img{
    margin-bottom: 3rem;
    padding-top: 0;
    max-width: 100%;
  }

  .techno {
    text-align:center;
    margin:auto;
    display: block;
  }

  .techno img{
    width: 50px;
    height: 50px;
    margin: 20px;
  }



}

@media only screen and (max-width: 1024px) {
  .desc{
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 320px) {

  h2{
    font-size: xx-large;
  }


  #buttons{
    justify-content: center;
    display: flex;
  }
}

