
<div class="container-fluid contact-form ">
  <div class="contact-image">
    <img class="img-fluid" src="assets/contact.png" alt="rocket_contact"/>
  </div>
  <form class="contact-form" #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm.form, $event)">
    <h3>{{"CONTACT.MESSAGE" | translate }}</h3>
    <div class="form-group">
      <input type="email" placeholder="Email *"
        [class.is-valid]="!(emailControl.errors?.required || emailControl.errors?.email)"
        [class.is-invalid]="messageEmail && (emailControl.errors?.required || emailControl.errors?.email)"
        class="form-control" aria-describedby="emailHelp" [(ngModel)]="email.email" name="email" required email #emailControl="ngModel">
      @if (messageEmail && emailControl.errors?.required) {
        <div class="invalid-feedback">{{"CONTACT.ERROR_MAIL_1" | translate }} 😉</div>
      }
      @if (messageEmail && emailControl.errors?.email) {
        <div class="invalid-feedback">{{"CONTACT.ERROR_MAIL_2" | translate }} 🙊</div>
      }
      <div class="valid-feedback">{{"CONTACT.GOOD_MAIL" | translate }} </div>
    </div>
    <div class="form-group ">
      <input type="text" placeholder="{{'CONTACT.SUBJECT' | translate}}" class="form-control" aria-describedby="subjectHelp" [(ngModel)]="email.subject" name="subject" #subjectControl="ngModel">
    </div>
    <div class="form-group">
      <input placeholder="{{'CONTACT.NAME' | translate}}" type="text" class="form-control"
        [class.is-valid]="!(nameControl.errors?.required)"
        [class.is-invalid]="messageName && nameControl.errors?.required"
        [(ngModel)]="email.name" name="name" required #nameControl="ngModel">
      <div class="invalid-feedback">
        {{"CONTACT.ERROR_NAME" | translate }}
      </div>
      <div class="valid-feedback">
        {{"CONTACT.GOOD_NAME" | translate }}
      </div>
    </div>
    <div class="form-group">
      <textarea aria-describedby="textHelp"  placeholder="{{'CONTACT.WRITE' | translate}}"
        [class.is-valid]="!(textControl.errors?.required)"
        [class.is-invalid]="messageText && textControl.errors?.required"
      [(ngModel)]="email.text" name="text" required #textControl="ngModel" class="form-control" rows="3"></textarea>
      @if (messageText && textControl.errors?.required) {
        <div class="invalid-feedback" >{{"CONTACT.ERROR_MESSAGE" | translate }} 😅</div>
      }
      <div class="valid-feedback" >{{"CONTACT.GOOD_MESSAGE" | translate }} </div>
    </div>
    <div class="form-group d-flex justify-content-end">
      <button type="submit" class="btn btn-submit">{{"CONTACT.SEND" | translate}}</button>
    </div>
  </form>
</div>
